{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SIMPADE{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.min.css' %}">
    
    <style>
        body { padding-top: 70px; } /* Espacio para el menú fijo */
        .navbar-custom { background-color: #004a99; }
        .navbar-custom .nav-link { color: white; }
    </style>
</head>
<body>

    {% include 'nav.html' %}

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core.js' %}"></script>
</body>
</html>